* {
    margin: 0;
    padding: 0;
}
body {
    display: flex;
    height: 625px;
    align-items: center;
    justify-content: center;
    background: linear-gradient(45deg,blue,green) no-repeat;
}
/* ---------------------start--------------------- */
.main {
    background-color: white;
}
.rating-star {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 40px;
}
.rating-star input {
    display: none;
}
/* star checked */
.rating-star label {
    color: #ffe400;
    cursor: pointer;
    font-weight: 900;
}
/* star uncheck */ 
.rating-star input:checked + label ~ label {
    color: #838383;
    font-weight: unset;
}
/*
color là màu khung
font-weight: 900; là đặc 
font-weight: unset; là rỗng
*/
.rating-star .star-checked {
    color: #ffe400;
    font-weight: 900;
}

.rating-star .star-uncheck {
    color: #ffe400;
    font-weight: unset;
}
